---
import store from "./public/store.svg";
---

<figure class="Icon-container">
  <img class="Icon-image" src={store.src} />
  <span class="Icon-notification">6</span>
</figure>
<style>
  .Icon-container {
    position: relative;
    width: 30px;
    height: 30px;
    margin-inline: auto;
    margin-block: 0px;
  }

  .Icon-notification {
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: #d8624c;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
