.recommended_section_title {
  font-family: "Cormorant Infant", serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #a191b2;
  margin-block: 80px;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  gap: 20px 10px;
}
