.review_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.review_container p {
  margin: 0px;
}

.review_container .user_name {
  min-width: 125px;
  width: fit-content;
  margin-left: 25px;
  margin-right: 50px;
}

.user_name,
.review_date,
.service_name,
.review_comments {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  font-style: normal;
  text-align: left;
  color: #313131;
}

.review_comments {
  font-weight: 300;
}

.service_content {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.service_information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.service_information .service_name {
  margin-left: 90px;
  margin-right: auto;
}
