.header {
  background-color: #313131;
  height: 56px;
  width: 100%;
}

.header_container {
  position: relative;
}

.header_logo {
  margin: 0px;
  margin-left: 0%;
  display: flex;
  align-items: center;
}

.header_logo img {
  height: 26px;
  width: auto;
}

.bag_icon {
  margin-left: auto;
}

.header_hamburguer_label {
  margin-right: 0px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  padding: 0px;
  outline: none;
}

.header_hamburguer_label:focus,
.header_hamburguer_label:focus-visible {
  outline: none;
  box-shadow: none;
}

.header_hamburguer_label span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #fff;
}

.header_row {
  position: absolute;
  top: 46px;
  width: 100%;
  left: 0px;
}

.header_menu {
  background-color: #313131;
  height: calc(100svh - 56px);
  display: flex;
  align-items: center;
}

.header_submenu {
  background-color: #1b1b1b;
}

.header_item {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.header_link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 12px 0px;
  transition: all 0.3s ease-in-out;
}

.header_link:hover,
.header_link:active {
  background-color: white;
  color: #313131;
}

.reservation_link {
  border-radius: 28px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.16));
  background: #a191b2;
  width: 365px;
  position: absolute;
  bottom: 30px;
  top: auto;
}

.display_on_mobile {
  display: block;
}
.display_on_desktop {
  display: none;
}

@media screen and (min-width: 992px) {
  .display_on_mobile {
    display: none;
  }

  .display_on_desktop {
    display: block;
  }

  .header {
    height: auto;
  }

  .header_row {
    position: relative;
    top: 0px;
  }
  .header_menu {
    height: auto;
    width: 100%;
    justify-content: space-between;
  }

  .header_item {
    width: auto;
  }
}

@media screen and (min-width: 1440px) {
  .header_item {
    min-width: 130px;
  }

  .header_item:first-child {
    margin-left: auto;
  }
  .header_item:nth-child(5) {
    margin-right: auto;
  }

  .header_item:nth-last-child(3),
  .header_item:nth-last-child(2),
  .header_item:last-child {
    min-width: 60px;
  }
}
