---
import BagIcon from "./components/BagIcon.astro";
import billify_logo from "./public/Billify-logo.png";

import "./Navigation.module.css";
// interface Props {
//   title: string;
//   body: string;
//   href: string;
// }

// const { href, title, body } = Astro.props;
---

<header class="Header">
  <div class="container header_container">
    <a href="/">
      <figure class="Header-logo">
        <img src={billify_logo.src} alt="Billify Logo" />
      </figure>
    </a>

    <BagIcon />
    <label for="menu-toggle" class="Header-hamburguerLabel">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <input
      type="checkbox"
      id="menu-toggle"
      name="menu-toggle"
      class="Header-hamburguerCheck d-none"
    />

    <div class="Header-row">
      <nav class="Header-menu">
        <ul class="Header-links">
          <li class="Header-item Dropdown">
            <a href="/" class="Header-link">Servicios</a>

            <div class="Dropdown-content">
              <ul class="Header-subMenu">
                <li><a class="Dropdown-item" href="#">Action</a></li>
                <li><a class="Dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="Dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="Header-item">
            <a href="/" class="Header-link">Productos</a>
          </li>
          <li class="Header-item">
            <a href="/" class="Header-link">Bodas</a>
          </li>
          <li class="Header-item">
            <a href="/" class="Header-link">Estilos</a>
          </li>
          <li class="Header-item">
            <a href="/" class="Header-link">Blog</a>
          </li>
          <li><a>Iniciar sesión</a></li>
          <li><a>Reserva</a></li>
          <li class="Header-item">
            <a href="/" class="Header-link">ES</a>
          </li>
          <li class="Header-item">
            <a href="/" class="Header-link">Heart</a>
          </li>
          <li class="Header-item">
            <a href="/" class="Header-link"><BagIcon /></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
