.header {
  background-color: #313131;
  height: 56px;
  width: 100%;
}
.header_container {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  flex-direction: row;
  padding-block: 13px;
}
.header_logo {
  margin: 0px;
  margin-left: 24px;
}
.header_logo img {
  height: 26px;
  width: auto;
}
.bag_icon {
  margin-left: auto;
}
.header_hamburguer_label {
  margin-right: 24px;
  margin-left: 24px;
}
.header_hamburguer_label span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}
.header_hamburguer_check {
  display: none;
}
.header_row,
.dropdown_content {
  position: absolute;
  top: 56px;
  width: 100%;
  height: 0px;
  left: 0px;
  transition: height 0.3s ease-in-out;
}

.header_menu,
.header_submenu {
  background-color: #313131;
  height: 0px;
  margin-right: 0px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: height 0.3s ease-in-out;
  width: 100vw;
  z-index: 10;
}

.header_links,
.header_submenu {
  list-style: none;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  display: inline-flex;
  text-align: center;
  padding: 0px;
  align-items: center;
  height: 100%;
}

.header_item.dropdown > .header_link {
  position: relative;
}
.header_item.dropdown > .header_link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  top: 40%;
  left: auto;
  margin-left: 10px;
  transform: rotateX(180deg);
}

.header_item.dropdown:hover > .header_link::after {
  transform: rotateX(360deg);
  transition: transform 0.3s ease;
}

.dropdown_content {
  position: relative;
  top: 12px;
  left: 0px;
  width: 100vw;
}

.header_submenu {
  background-color: #1b1b1b;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.header_item {
  padding-block: 12px;
  width: 100%;
}
.header_item .header_link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  display: block;
  width: 100%;
  height: fit-content;
}

.header_hamburguer_check:checked ~ .header_row,
.header_hamburguer_check:checked ~ .header_row > .header_menu {
  height: 100svh;
  transition: all 0.3s ease-in-out;
}

.dropdown:hover > .dropdown_content,
.dropdown:hover > .dropdown_content > .header_submenu {
  height: 205px;
  transition: all 0.3s ease-in-out;
}

.dropdown:hover > .dropdown_content,
.dropdown:hover > .dropdown_content > .header_submenu.language_dropdown {
  height: 105px;
  transition: all 0.3s ease-in-out;
}

.reservation_link {
  height: 56px;
  border-radius: 28px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.16));
  background: #a191b2;
  width: 365px;
  position: absolute;
  bottom: 80px;
  top: auto;
}
.display_on_mobile {
  display: flex;
}
.display_on_desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .display_on_mobile {
    display: none;
  }
  .display_on_desktop {
    display: flex;
  }
}
